{% include "top.html.twig" %}
  <h2>Welcome Admin</h2>


  <h3>View all <a href='/allbooksadmin'>books</a></h3>
  <h3>View all <a href='/allauthorsadmin'>authors</a></h3>
  <h3>Search book by:</h3>
  <form action="/search" method= "post">
    <div class = "form-group">
    <label for="searchLast">Author's last name</label>
    <input class="form-control" id="searchLast" name="searchLast" type="text">
    <label for="searchTitle">or Title</label>
    <input class="form-control" id="searchTitle" name="searchTitle" type="text">
  </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
    <h3> Add a new book to inventory </h3>
  <form action="/addbook" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" name="title" type="text" required>
    </div>
    <div class="form-group">
      <label for="loc">Location</label>
      <input class="form-control" id="loc" name="loc" type="text" required>
    </div>
    <div class="form-group">
      <label for="first">Author first name</label>
      <input class="form-control" id="first" name="first" type="text" required>
    </div>
    <div class="form-group">
      <label for="last">Author last name</label>
      <input class="form-control" id="last" name="last" type="text" required>
    </div>
    <div class="form-group">
      <label for="quanity">Quanity</label>
      <input class="form-control" id="quanity" name="quanity" type="number" required>
    </div>
    <button class="btn btn-primary" type="submit">Add book</button>
  </form>
{% include "bottom.html.twig" %}
