{% include "top.html.twig" %}
  {% if steve is not empty %}
  {% for steves in steve %}
  <ul>
    <li><a href="author{{steves.getId}}">{{ steves.getFirst }}{{ steves.getLast }}</a></li>
  </ul>
  {% endfor %}
  {% else %}
  <h4> Oh no! There seems to be no books in the inventory </h4>
  {% endif %}
{% include "bottom.html.twig" %}
