{% include "top.html.twig" %}


<h1> {{ author.getFirst }} {{ author.getLast}} </h1>
<h3>Books in library</h3>
{% for booky in books %}
<ul>
<li><a href="/book{{ booky.getId }}">{{booky.getTitle}}</a></li>
</ul>
{% endfor %}
{% include "bottom.html.twig" %}
